li {
  display: inline-block;
  margin-left: 90px;
}
.Home{
  margin-left: 3px;
}
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.Hometitle{
  color: rgb(0, 0, 0);
  text-align:center;
  text-shadow: 2px 2px 5px rgb(238, 255, 0)
}
.NavBar{
  background-color: yellow;
  width: 100%;
  height: 50px;
  margin: 10px;
}
.about{
  font-size: 30px;
}
.books{
  font-size: 30px;
}
.Home{
font-size: 30px;
}
.mainContainer{
  margin: 30px;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
}
.booksImg{
  padding: 1.5em;
  margin: 5px;
border: solid 1px rgb(0, 0, 0);
  text-align: center;
  border-radius: 20px;
  border-style: hidden;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfxQ5tV0lI1jzCh67UZHB_-AE6U-qZdFQaTg&usqp=CAU");
  /* background-color:rgb(245, 240, 234); */
}
.body{

}
.imgSize{
  width: 50%;
  height: 50%;
  border-radius: 10px;
}
.BooksTitle{
  text-align: left;
padding: 20px;
border-bottom: 1px gray solid;
}
.Title{
  text-align: center;
  text-shadow: 2px 2px;
}
.btn{
  background-color: #DDE014;
  border: none;
  color: rgb(0, 0, 0);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
body{
  /* background-color:rgb(208, 244, 253); */
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
}
.bookcontainer{
  padding: 1.5em;
  margin: 5px;
border: solid 1px rgb(0, 0, 0);
  text-align: center;
  border-radius: 20px;
  border-style: hidden;
}
.bookimg{
  width: 250px;
  /* height: 100px; */
  border-radius: 30px;
}
/* body{
  background-image: url("https://img.pixers.pics/pho_wat(s3:700/FO/39/71/71/38/700_FO39717138_f18290f81cc807ec80d8a8352798f6bb.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/stickers-kids-background.jpg.jpg");
} */
.bodyHome{
  background-color: white;
  border-top: hotpink solid 2px;
}
.hompic{
  width: 40%;
  height: 60%;
  display: flex;
  border-radius: 30%;
}
.Hometitle{
  text-align: center;
  margin: 100px;
  padding: 50px;
}
.searchImg{
  width: 70px;
}
.searchBox{
  border:1px black solid;
  border-style: hidden;
  margin: 20px;
}
.descrrr{
  display: inline;
}